<ng-container *ngIf="user$ | async as user; else loading">
  <app-ctc-home-narrative *ngIf="user.ctcMode === 'narrative'"></app-ctc-home-narrative>
  <app-ctc-home-vanilla *ngIf="user.ctcMode === 'vanilla'"></app-ctc-home-vanilla>

  <div *ngIf="user.ctcMode !== 'narrative' && user.ctcMode !== 'vanilla'" class="fallback">
    Unknown mode: {{ user.ctcMode }}
  </div>
</ng-container>

<ng-template #loading>
  <div class="loading">
    <mat-spinner diameter="36"></mat-spinner>
  </div>
</ng-template>
