<div class="ctc-dashboard">
    <div class="top">
        <div class="briefing">
            <div class="headline">
                <div class="title">
                    <div class="welcome" *ngIf="user$ | async as user">
                        Welcome, <span class="username">{{ user.username }}</span>
                    </div>
                </div>
            </div>

            <ng-container *ngIf="theme$ | async as theme; else loadingTheme">
                <div class="subtitle">You’ve entered
                    <span class="campaign-title"> {{ theme.name }}</span>
                    built on the OWASP Juice Shop.
                </div>
                <div class="campaign-brief">
                    <p class="msg" *ngFor="let msg of theme.onboardingMessages">
                        {{ msg }}
                    </p>
                </div>
            </ng-container>
            <ng-template #loadingTheme>
                <div class="loading-inline">
                    <mat-spinner diameter="28"></mat-spinner>
                </div>
            </ng-template>
        </div>
        <div class="radar" style="display: none;">
            <mat-card class="radar-card">
                <div class="radar-header">
                    <div>
                        <div class="radar-title">Campaign Progress</div>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-card>
        </div>
    </div>
    <div class="bottom">
        <div class="section-title">Available To Explore</div>

        <ng-container *ngIf="missions$ | async as missions; else loadingMissions">
            <div class="mission-grid">
                <div class="mission-card" *ngFor="let m of missions" (click)="openMission(m)" role="button"
                     tabindex="0">
                    <img class="mission-img" [src]="missionImage(m)" alt="Mission image"/>
                    <div class="overlay">
                        <div class="mission-name">{{ m.title }}</div>
                        <div class="meta">
                            <span class="pill" *ngIf="m.status">{{ m.status }}</span>
                            <span class="pill">Phase {{ m.order }}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="empty" *ngIf="missions.length === 0">
                No missions available.
            </div>
        </ng-container>

        <ng-template #loadingMissions>
            <div class="loading">
                <mat-spinner diameter="32"></mat-spinner>
            </div>
        </ng-template>
    </div>
</div>
